<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551496135235-mj1ghqm4gdc41kht1h1hfgs8llfr2m8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551496135235-mj1ghqm4gdc41kht1h1hfgs8llfr2m8b</string>
	<key>API_KEY</key>
	<string>AIzaSyDFThnM-L1YHWHfh8V7YmI_APF0vNUNb2E</string>
	<key>GCM_SENDER_ID</key>
	<string>551496135235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerhanharmanci.eventVerify</string>
	<key>PROJECT_ID</key>
	<string>event-verfiy-project</string>
	<key>STORAGE_BUCKET</key>
	<string>event-verfiy-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551496135235:ios:61c2fd0e0b02bec7bf5af6</string>
</dict>
</plist>